# Railway Configuration for SMS Worker

[build]
builder = "NIXPACKS"

[deploy]
startCommand = "NODE_TLS_REJECT_UNAUTHORIZED=0  npm run workers/start-worker.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[healthcheck]
checkInterval = 300
timeout = 30

